/*===CARRITO===*/
.mi-carrito {
    display: map-get($basicos , flexible );
    justify-content: map-get($basicos , centro );
}

.carrito-container {
    margin: 50px auto;
    border-radius: 30px;
}

.cart-title {
    font-size: $normal-title;
}

table {
    width: 1300px;
    max-width: 990px;
    border-collapse: collapse;
}

.carrito-info {
    display: map-get($basicos , flexible );
    flex-wrap: map-get($basicos , wrap );
}

.carrito-img {
    width: 100px;
    height: 60px;
    margin-right: map-get($basicos , margen-padding );
}

tr {
    th {
        text-align: map-get($basicos , izquierda );
        padding: 5px;
        color: $light-color;
        background-color: $primary-color;
        font-weight: $bold-weight;
        font-size: $normal-text;
    }
    td {
        padding: 10px 5px;
        input {
            width: 40px;
            height: 30px;
            padding: 5px;
            background-color: $input-neumorphism;
            box-shadow: inset 5px 5px 12px $boxshadow-neumorphism,
                        inset -5px -5px 12px $light-semitransparent;
            border: map-get($basicos , no );
        }
        a {
            color: $dark-terciary-color;
            font-size: $smaller-text;
            text-decoration: map-get($basicos , textolineado );
        }
    }
}

.carrito-total {
    display: map-get($basicos , flexible );
    justify-content: map-get($basicos , final );
    table {
        border-top: 3px solid $secondary-color;
        width: 100%;
        max-width: 420px;
        td {
            &:last-child {
                text-align: map-get($basicos , derecha );
            }
        }
        th {
            &:last-child {
                text-align: map-get($basicos , derecha );
            }
        }
        .btn-index {
            font-size: $medium-text;
        }
    }
}

.shipping {
    font-size: $small-text;
}

