/*===CONTACTO===*/
.form-contacto {
    margin: 50px 0;
    display: map-get($basicos , flexible );
    flex-direction: map-get($basicos , fila );
    width: 1300px;
    max-width: 1000px;
    border-radius: 16px;
    box-shadow: 13px 13px 20px $lighter-grey,
                -13px -13px 20px $light-color;
    backdrop-filter: $alt-blur;
}

.aside-formulario {
    width: 90%;
    padding: 20px;
    background: $light-transparent;
    box-shadow: 13px 13px 20px $lighter-grey,
                -13px -13px 20px $light-color;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    .formulario {
        margin-top: map-get($basicos , margen-padding );
        width: 100%;
    }
    h1 {
        font-size: $subtitle;
        text-align: map-get($basicos , centro );
    }
    small {
        font-size: $small-text;
    }
}

.form-input {
    padding: 8px;
    font-size: 0.8rem;
    resize: vertical;
    background: map-get($basicos , no );
    border: map-get($basicos , no );
    border-radius: 10px;
    outline: map-get($basicos , no );
    color: $dark-color;
    box-shadow: inset 8px 8px 8px $lighter-grey,
                inset -8px -8px 8px $light-color;
}

.servicio {
    width: 250px;
}

.botones-form {
    margin-top: 20px;
    text-align: map-get($basicos , derecha);
}

#submit, #reset {
    display: map-get($basicos , no );
}

#submit + label, #reset + label {
    font-size: $medium-text;
    padding: map-get($basicos , margen-padding );
    cursor: pointer;
    color: $dark-grey;
    &:hover {
        background-color: $primary-color;
        color: $light-color;
        border-radius: 25px;
        transition: map-get($btns , transicion );
    }
}

.aside-rrss {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    justify-content: map-get($basicos , centro );
    align-items: map-get($basicos , centro );
    align-content: map-get($basicos , centro );
    text-align: map-get($basicos , centro );
    padding: 20px;
    width: 35%;
    background: linear-gradient($primary-color, $alt-accent-color, $accent-color, $secondary-color);
}

.rrss-contacto, .info-contacto {
    li {
        text-align: map-get($basicos , centro );
        padding-top: map-get($basicos , margen-padding );
        list-style: map-get($basicos , no );
        font-size: $alt-text;
        margin-top: 90px;
        margin-right: 25px;
        color: $dark-secondary-color;
        font-weight: $semibold-weight;
    }
}

.rrss-contacto {
    .contacto-icon {
        transition: map-get($btns , transicion );
        &:hover {
            margin-left: -10px;
            color:  $light-color;
        }
    }
}

.info-contacto {
    .contacto-icon {
        margin-top: map-get($basicos , margen-padding );
        margin-right: map-get($basicos , margen-padding );
    }
}

.contacto-icon {
    font-size: $subtitle;
    color: $dark-secondary-color;
}