/*===FOOTER===*/
.footer {
    background-color: $secondary-color;
    text-align: map-get($basicos , izquierda );
}

.footer-box {
    .img-app {
        width: 100px;
    }
    ul {
        list-style: map-get($basicos , no );
        color: $light-color;
    }
    a {
        text-decoration: map-get($basicos , textolineado );
        color: $light-color;
        &:hover {
            color: $dark-color;
            transition: map-get($btns , transicion );
        }
    }
}
.rrss, .rrss-container {
    @include flex-center;
}

.rrss-content {
    position: map-get($basicos , posicion );
    align-items: map-get($basicos , centro );
    padding: 16px;
    margin: 0 16px;
    border-radius: 10px;
    cursor: pointer;
}

.rrss-icon {
    font-size: $subtitle;
    color: $light-color;
}

.rrss-tooltip {
    opacity: 0;
    position: absolute;
    padding: 8px 16px;
    background-color: $dark-color;
    color: $light-color;
    font-size: $normal-text;
    white-space: nowrap;
    font-weight: $semibold-weight;
    border-radius: 8px;
    pointer-events: map-get($basicos , no );
    &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: $dark-color;
        border-radius: 3px;
    }
}

.rrss-content, .rrss-tooltip, .rrss-icon {
    transition: .3s;
}

.rrss-content:hover .rrss-icon {
    color: $dark-color;
}

.rrss-tooltip-txt {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    &::after {
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        top: 1px;
    }
}

.rrss-content:hover .rrss-tooltip-txt {
    opacity: 1;
    bottom: -16px;
}

.footer-credit {
    background-color: $dark-color;
    padding: 15px 10px;
    text-align: map-get($basicos , centro );
    color: $light-color;
    small {
        font-size: $small-text;
    }
    a {
        color: $light-color;
        text-decoration: map-get($basicos , textolineado );
        &:hover {
            color: $primary-color;
            transition: .8s;
        }
    }
}