/*===INDEX===*/
.welcome-box {
    padding-left: 50px;
    padding-right: 25px;
    .welcome-title {
        font-size: $bigger-title;
    }
    .welcome-text {
        font-size: $normal-text;
    }
    .welcome-img {
        max-width: 700px;
    }
}

.btn-index {
    position: map-get($basicos , posicion );
    display: map-get($btns , inlineblock );
    padding: map-get($btns , relleno );
    background: $primary-color;
    color: $light-color;
    border-radius: map-get($btns , radio );
    text-decoration: map-get($basicos , textolineado );
    font-weight: $semibold-weight;
    border: 1px solid $border-btn;
    box-shadow: 5px 5px $boxshadow-glass;
    &:hover {
        background: $light-color;
        color: $terciary-color;
        transition: map-get($btns , transicion );
    }
}