/*===MEDIA QUERIES===*/

// XXL
@media screen and (min-width: 993px) and (max-width:1600px) {
.header-links {
    li {
    margin-right: 25px;
    }
}

// XL
}
@media screen and (max-width: 1130px) {
    .beneficios-container {
        @include flex-center;
        flex-direction: map-get($basicos , columna );
        align-content: map-get($basicos , centro );
        .div {
            width: 100%;
            max-width: 800px;
        }
    }
}

// LG
@media screen and (max-width: 992px){
    .header-links {
        li {
        margin-bottom: 5px;
        }
    }

    .form-contacto {
        flex-direction: map-get($basicos , columna );
        flex-wrap: map-get($basicos , wrap );
        width: 80%;
        color: $dark-color;
    }

    .aside-formulario,.aside-rrss {
        width: 100%;
    }

    .aside-formulario {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
    }

    .aside-rrss {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
    }

    .rrss-contacto, .info-contacto {
        li {
            margin-top: 10px;
        }
    }

    .seccion-acc {
        flex-direction: map-get($basicos , columna );
    }

    .acc-container {
        width: 90%;
    }

    .acc-container-column {
        width: 100%;
    }

    table {
        width: 700px;
        th {
            font-size: $big-text;
        }
        td {
            font-size: $mobile-subtitle;
        }
        p {
            font-size: $mobile-subtitle;
        }
        small {
            font-size: $normal-text;
        }
        .btn-index {
            font-size: $big-text;
        }
    }
}

// MD
@media screen and (max-width: 768px) {
    .beneficios-container {
        .div {
            width: 100%;
            max-width: 700px;
        }
    }
    
    .promo-card {
        width: 100%;
        max-width: 700px;
    }

    .acc-container {
        width: 85%;
    }

    table {
        width: 550px;
    }
}

// SM
@media screen and (max-width: 576px) {
    .welcome-box {
        padding-left: 25px;
    }
    .beneficios-container {
        h4 {
            font-size: $subtitle;
        }
        .div {
            width: 100%;
            max-width: 350px;
        }
    }

    .nosotros {
        width: 90%;
    }

    .nosotros-logros {
        h2 {
            font-size: $mobile-bigger-title;
            color: $dark-secondary-color;
        }
        h4 {
            font-size: $smaller-text;
            color: $dark-terciary-color;
        }
    }

    .promo-card {
        width: 100%;
        max-width: 350px;
        .prod-btn {
            font-size: $normal-text;
            }
    }

    .acc-container {
        width: 80%;
    }

    table {
        width: 400px;
    }
}
