/*===MI CUENTA===*/
.seccion-acc {
    @include flex-center;
    padding: 20px 0;
    width: 100%;
    overflow-x: hidden;
    color: $muted-color;
}

.acc-container {
    width: 430px;
    height: auto;
    margin: 50px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: $light-transparent;
    box-shadow: 13px 13px 20px $lighter-grey,
                -13px -13px 20px $light-color;
}

.acc-title {
    text-align: map-get($basicos , centro );
    padding-top: 5px;
    letter-spacing: 0.5px;
}

.acc-form {
    width: 100%;
    padding: 35px 5px 5px 5px;
    font-size: $normal-text;
    input {
        width: 100%;
        border: map-get($basicos , no );
        outline: map-get($basicos , no );
        background: map-get($basicos , no );
        color: $muted-color;
        padding: map-get($basicos , margen-padding );
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: inset 8px 8px 8px $lighter-grey,
                    inset -8px -8px 8px $light-color;
    }
}

.btn-acc {
    outline: map-get($basicos , no );
    border: map-get($basicos , no );
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-weight: $bold-weight;
    font-size: $big-text;
    color: $light-color;
    text-align: map-get($basicos , centro );
    background: $secondary-color;
    box-shadow: 3px 3px 8px $light-grey,
                -3px -3px 8px $light-color;
    transition: 0.5s;
    &:hover {
        background: $dark-terciary-color;
    }
    &:active {
        background: $dark-secondary-color;
    }
}

.acc-txt {
    padding-top: 20px;
    text-align: map-get($basicos , centro );
    a {
        text-decoration: map-get($basicos , no );
        color: $dark-secondary-color;
        font-size: $small-text;
        &:hover {
            color: $primary-color;
            transition: map-get($btns , transicion );
        }
    }
}

