/*===NAV===*/
.navbar {
    .header-img {
        width: 200px;
        margin: map-get($basicos , margen-padding );
    }
}
.header-links {
    li {
        text-align: map-get($basicos , centro );
        list-style: map-get($basicos , no );
        .active {
            font-weight: $semibold-weight;
        }
    }
    .header-link {
        font-weight: $normal-weight;
        font-style: bold;
        padding: 6px;
        &:hover {
        background-color: $primary-color;
        border-radius: 4px;
        color: $light-color;
        text-decoration: map-get($basicos , no );
        transition: map-get($btns , transicion );
    }
    }
    #header-btnAcc {
        background-color: $dark-color;
        color: $light-color;
        border-style: map-get($basicos , no );
        border-radius: map-get($btns , radio );
        padding: 6px;
        font-weight: $normal-weight;
        font-style: bold;
        margin: 0px 5px;
        &:hover {
            background-color: $primary-color;
            color: $dark-color;
            transition: map-get($btns , transicion );
        }
    }
}