/*===NOSOTROS===*/
.sobre-nosotros {
    margin: auto;
    padding-top: 40px;
}

.nosotros-titulo {
    text-align: map-get($basicos , centro );
    margin: 10px auto;
    padding: map-get($basicos , margen-padding );
    font-size: $normal-title;
    position: map-get($basicos , posicion );
    line-height: 60px;
    color: $dark-color;
}

.nosotros-text {
    font-size: $normal-text;
    text-align: justify;
}

.nosotros-logros {
    display: map-get($basicos , grilla );
    text-align: map-get($basicos , centro );
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 25px;
    grid-auto-flow: map-get($basicos , fila );
    grid-template-areas:
    "logro-uno logro-dos logro-tres";
    h2 {
        font-size: $bigger-title;
        font-weight: bold;
        color: $dark-secondary-color;
    }
    h4 {
        font-size: $small-text;
        font-weight: $medium-weight;
        color: $dark-terciary-color;
    }
}

.logro-uno { grid-area: logro-uno; }
.logro-dos { grid-area: logro-dos; }
.logro-tres { grid-area: logro-tres; }

.widget {
    @include flex-center;
    opacity: 0.7;
    text-shadow: 2px 0px $dark-color;
    height: 300px;
    text-align: map-get($basicos , centro );
    font-size: $bigger-text;
    a {
        text-decoration: map-get($basicos , textolineado );
        color: $light-color;
    }
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.widget-1 {
    background-image: url("../img/proyectos.png");
    background-size: cover;
    
}

.widget-2 {
    background-image: url("../img/distribuidores.png");
    background-size: cover;
}

.nosotros-vacantes {
    background: $dark-secondary-color;
    color: $light-color;
    text-align: map-get($basicos , centro );
    width: 100%;
    h4 {
        font-size: $bigger-text;
    }
    .nosotros-link {
        text-decoration: map-get($basicos , textolineado );
        color: $light-color;
        &:hover {
            transition: map-get($btns , transicion );
            color: $light-grey;
        }
    }
}
