/*===MODALES PRODUCTOS===*/
.modal-content {
    background: $bg-modal;
    backdrop-filter: $blur-modal;
}

.wishlist-btn {
    border: 1px solid $muted-color;
    color: $muted-color;
    &:hover {
        background-color: $dark-color;
        color: $light-semitransparent;
        transition: map-get($btns , transicion );
    }
}

.cart-btn {
    border: map-get($basicos , no );
    background-color: $primary-color;
    color: $light-semitransparent;
    &:hover {
        background-color: $secondary-color;
        color: $light-semitransparent;
        transition: map-get($btns , transicion );
    }
}
