/*===PRODUCTOS===*/
.products-card {
    @extend .see-products-card;
    border-radius: 25px;
    border: 1px solid $border-glass;
}

.prod-img {
    width: 120px;
}

.prod-contenido {
    padding: 5px;
    text-align: map-get($basicos , centro );
    transition: map-get($btns , transicion );
    opacity: 1;
    &:hover {
        transform: translateY(-15px);
    }
    .prod-titulo {
        margin: 5px;
        color: $dark-semitransparent;
        pointer-events: map-get($basicos , no );
        font-size: $bigger-text;
    }
    .prod-txt {
        font-size: $normal-text;
        font-weight: $thin-weight;
    }
}

.prod-btn {
    position: map-get($btns , posicion );
    display: map-get($btns , inlineblock );
    padding: map-get($btns , relleno );
    margin-top: map-get($basicos , margen-padding );
    background: $dark-terciary-color;
    color: $light-color;
    border-radius: map-get($btns , radio );
    font-weight: $semibold-weight;
    box-shadow: 5px 5px $boxshadow-glass;
    &:hover {
        background: $light-color;
        color: $dark-terciary-color;
        transition: map-get($btns , transicion );
    }
}

.promo-card {
    border-radius: 15px;
    background: $bg-glass;
    box-shadow: 10px 10px $boxshadow-glass;
    border: 1px 1px solid $border-glass;
    backdrop-filter: $blur;
    width: 100%;
    .nombre-promo {
        font-size: $bigger-text;
    }
    .promo-img {
        width: 300px;
        object-fit: contain;
        overflow: hidden;
        &:hover {
            transition: map-get($btns , transicion );
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .prod-btn {
        border-radius: 30px;
        height: 60px;
        width: 100%;
        padding: 15px 0px;
        font-size: $normal-text;
    }
}

