/* ===paleta de colores
            FFFFFF
            000000
            AF90E9
            231942
            5E548E
            9F86C0
            BE95C4
            E0B1CB
            8A4FFF ===*/

/*===GOOGLE FONTS===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*===DOC AND BODY===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input::placeholder, textarea, select {
    font-family: 'Poppins', "Century Gothic";
}

body {
    background: linear-gradient(transparent
    , #8321f340,#731ee928, transparent);
    overflow-x: hidden;
}

/*===NAV===*/
.header-img {
    width: 200px;
    margin: 10px;
}

.header-links li {
    text-align: center;
    list-style: none;
    margin-right: 25px;
}

.header-link {
    font-weight: 600;
    padding: 6px;
}

.header-link:hover {
    background-color: #AF90E9;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

#header-btnAcc {
    background-color: #000000;
    color: #FFFFFF;
    font-family: inherit;
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

#header-btnAcc:hover{
    background-color: #AF90E9;
    color: #000000;
    transition: .5s;
}

/*===INDEX===*/
.welcome-box {
    padding-left: 50px;
}

.welcome-img {
    max-width: 700px;
}

/*===PRODUCTS===*/
.see-products {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-products-card {
    padding: 20px;
    transition: 0.5s;
    opacity: 1;
    border-style: none;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.see-products-title {
    text-align: center;
    margin: 30px auto 50px;
    padding: 20px;
    font-size: 45px;
    line-height: 60px;
    color: #555;
}

.see-products-subtitle {
    color: #555;
    pointer-events: none;
    font-size: 40px;
}

.see-products-txt {
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

.see-products-img {
    width: 100%;
}

.btn-index {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #AF90E9;
    color: #FFFFFF; 
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2)
}

.btn-index:hover {
    background: #FFFFFF;
    border-top: 1px solid rgba(207, 206, 206, 1);
    border-left: 1px solid rgba(207, 206, 206, 1);
    color: #8a4fff;
    transition: .5s;
}

/*===BENEFICIOS===*/
.beneficios-container {  
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
    "beneficios-titulo beneficios-titulo beneficios-titulo beneficios-titulo"
    "beneficio-uno beneficio-dos beneficio-tres beneficio-cuatro"
    "beneficio-cinco beneficio-seis beneficio-siete beneficio-ocho";
    margin: 10px;
    padding: 50px;
}

.beneficios-titulo { grid-area: beneficios-titulo; }
.beneficio-uno { grid-area: beneficio-uno; }
.beneficio-dos { grid-area: beneficio-dos; }
.beneficio-tres { grid-area: beneficio-tres; }
.beneficio-cuatro { grid-area: beneficio-cuatro; }
.beneficio-cinco { grid-area: beneficio-cinco; }
.beneficio-seis { grid-area: beneficio-seis; }
.beneficio-siete { grid-area: beneficio-siete; }
.beneficio-ocho { grid-area: beneficio-ocho; }

.beneficios-container .div {
    width: 100%;
    max-width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    background: linear-gradient(transparent, #8321f323,#761ee92c, transparent);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.nombre-beneficio {
    font-size: 23px;
    padding: 10px;
    margin: 10px;
}

.beneficio-icon {
    max-width: 85px;
    margin: 5px;
}

.beneficio-txt {
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}
/*===MEDIA QUERIES===*/
@media screen and (max-width: 1030px) {
    .beneficios-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .beneficios-container .div {
        width: 100%;
        max-width: 800px;
    }
}
@media screen and (max-width: 768px) {
    .beneficios-container p {
        font-size: 20px;
    }

    .beneficios-container .div {
        width: 100%;
        max-width: 700px;
    }
}
@media screen and (max-width: 576px) {
    .beneficios-container h4 {
        font-size: 40px;
    }

    .beneficios-container .div {
        width: 100%;
        max-width: 350px;
    }
}

/*===NEWSLETTER===*/
.newsletter-container {
    background: linear-gradient(180deg, transparent, #AF90E9, #5E548E);
    padding: 60px;
}

.newsletter-title {
    color: #000000;
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
    font-weight: 900;
}

.newsletter-txt {
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    margin: 10px 0;
}

.newsletter-input {
    width: 100%;
    height: 70px;
    background: #474b9006;
    border-radius: 50px;
    position: relative;
}

.newsletter-input input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #c3c0d560;;
    padding: 0 20px;
    font-size: 16px;
    color: #000000;
    font-family: inherit;
}

.newsletter-input input::placeholder {
    color:rgba(255, 255, 255, 0.5);
}

.btnNewsletter {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #574b90;
    color: #FFFFFF; 
}

.btnNewsletter:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #574b90;
    transition: .5s;
}

/*===FOOTER===*/
.footer {
    background-color: #5E548E;
    text-align: left;
}

.img-app {
    width: 100px;
}

.footer-box ul {
    list-style: none;
    color: #FFFFFF;
}

.footer-box a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-box a:hover{
    color: #000000;
    transition: .5s;
    cursor: pointer;
}

.rrss, .rrss-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.rrss-content {
    position: relative;
    align-items: center;
    padding: 16px;
    margin: 0 16px;
    border-radius: 10px;
    cursor: pointer;
}

.rrss-icon {
    font-size: 30px;
    color: #FFFFFF
}

.rrss-tooltip {
    opacity: 0;
    position: absolute;
    padding: 8px 16px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 8px;
    pointer-events: none;
}

.rrss-tooltip::after{
    content: '';
    position: absolute;
    width: 12px;    
    height: 12px;
    background-color: #000000;
    border-radius: 3px;
}

.rrss-content, .rrss-tooltip, .rrss-icon {
    transition: .3s;
}

.rrss-content:hover .rrss-icon {
    color: #000000;
}

.rrss-tooltip-txt {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.rrss-tooltip-txt::after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 1px;
}

.rrss-content:hover .rrss-tooltip-txt {
    opacity: 1;
    bottom: -16px;
}

.footer-credit {
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #FFFFFF;
}

.footer-credit small {
    font-size: 13px;
}

.footer-credit a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-credit a:hover{
    color: #AF90E9;
    transition: .8s;
}
/*===NOSOTROS===*/
.sobre-nosotros {
    margin: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.nosotros-titulo {
    text-align: center;
    margin: 0 auto 30px;
    padding: 10px;
    font-size: 45px;
    font-weight: 900;
    position: relative;
    line-height: 60px;
    color: #000000;
}

.nosotros-text {
    text-align: justify;
}

.nosotros-logros {  
    display: grid;
    padding: 15px;
    margin: 10px;
    text-align: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr;
    gap: 10px 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "logro-uno logro-dos logro-tres";
}

.logro-uno { grid-area: logro-uno; }
.logro-dos { grid-area: logro-dos; }
.logro-tres { grid-area: logro-tres; }

.nosotros-logros h2 {
    font-size: 50px;
    color: #231942;
}

.nosotros-logros h4 {
    font-size: 10px;
    color: #574b90;
}

.widget {
    opacity: 0.7;
	color: #fff;
    text-shadow: 2px 0px #000000;
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 20px;
}

.widget:hover {
    opacity: 0.9;
    cursor: pointer;
}

.widget-1 {
    background-image: url("../img/proyectos.png");
    background-size: cover;
    
}

.widget-2 {
    background-image: url("../img/distribuidores.png");
    background-size: cover;
}

.nosotros-vacantes {
	background: #231942;
    padding: 20px;
	color: #FFFFFF;
	grid-area: nosotros-vacantes;
    text-align: center;
    margin-bottom: 10px;
}

.nosotros-vacantes h4 {
    font-size: 20px;
}

.nosotros-link {
    text-decoration: none;
    color: #FFFFFF;;
}

.nosotros-link:hover {
    transition: 0.6s;
    color: #b1b1b1;
}

/*===MEDIA QUERIES*/
@media screen and (max-width:576px) {
    .nosotros {
        width: 90%;
    }
    .nosotros-logros {
        width: 90%;
    }

    .nosotros-logros h2 {
        font-size: 35px;
        color: #231942;
    }

    .nosotros-logros h4 {
        font-size: 13px;
        color: #574b90;
    }
}


/*===PRODUCTOS===*/
.prod-img {
    width: 120px;
}

.prod-contenido {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
}

.prod-contenido:hover {
    transform: translateY(-15px);
}

.prod-titulo {
    margin: 5px;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    font-size: 25px;
}

.prod-txt {
    font-size: 16px;
    font-weight: 300;
}

.prod-btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 10px;
    background: #574b90;
    color: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2)
}

.prod-btn:hover {
    background: #FFFFFF;
    color: #574b90;
    transition: 0.5s;
}

.promo-card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 350px;
    max-height: 500px;
}

.promo-img {
    width: 300px;
    height: 10vw;
    object-fit: contain;
    overflow: hidden;
}

.promo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-img:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}

/*===MODALES PRODUCTOS===*/
.modal-content {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

.wishlist-btn {
    border: 1px solid #555;
    color: #555;
}

.wishlist-btn:hover {
    background-color: #000000;
    color: #FCFCFC;
    transition: 0.5s;
}

.cart-btn {
    border: none;
    background-color: #AF90E9;
    color: #FCFCFC;
}

.cart-btn:hover {
    background-color: #574b90;
    color: #FCFCFC;
    transition: 0.5s;
}

/*===MEDIA QUERIES===*/
@media screen and (max-width: 768px) {
    .promo-card {
            width: 100%;
            max-width: 700px;
        }
    }
    @media screen and (max-width: 576px) {
    .promo-card {
            width: 100%;
            max-width: 350px;
        }
    }


/*===MI CUENTA===*/
.seccion-acc {
    padding: 20px 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.acc-container {
    width: 430px;
    height: auto;
    margin: 50px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #FFFFFF;
}

.acc-title {
    text-align: center;
    padding-top: 5px;
    letter-spacing: 0.5px;
}

.acc-form {
    width: 100%;
    padding: 35px 5px 5px 5px;
    font-size: 17px;
}

.acc-form input {
    color: #000000;
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #555;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #FFFFFF;
}

.btn-acc {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    font-family: inherit;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    background: #5E548E;
    box-shadow: 3px 3px 8px #b1b1b1
                -3px -3px 8px #FFFFFF;
    transition: 0.5s;
}

.btn-acc:hover {
    background:#574b90;
}

.btn-acc:active {
    background: #231942;
}

.acc-txt {
    padding-top: 20px;
    text-align: center;
}

.acc-txt a {
    text-decoration: none;
    color: #231942;
    font-size: 13px;
}

.acc-txt a:hover {
    color: #AF90E9;
    transition: 0.5s;
}
/*===MEDIA QUERIES===*/
@media screen and (max-width: 992px){
    .seccion-acc {
        flex-direction: column;
    }
    .acc-container {
        width: 90%;
    }

    .acc-container-column {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .acc-container {
        width: 85%;
    }
}

@media screen and (max-width: 576px) {
    .acc-container {
        width: 80%;
    }
}


/*===CONTACTO===*/
.form-contacto {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    width: 1300px;
    max-width: 1000px;
    border-radius: 16px;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #FFFFFF;
    backdrop-filter: blur(20px);
}

.aside-formulario {
    width: 90%;
    padding: 20px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #FFFFFF;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.formulario {
    margin-top: 10px;
    width: 100%;
}

.aside-formulario h2 {
    text-align: center;
}

.form-input {
    padding: 8px;
    font-size: 14px;
    resize: vertical;
    background-color: #EEEEEE; 
    border: none;
    border-radius: 10px;
    outline: none;
    color: #000000;
    box-shadow: inset 5px 5px 12px #e0e0e0,
                inset -5px -5px 12px #FCFCFC;
}

.servicio {
    width: 250px;
}

.botones-form {
    margin-top: 20px;
    text-align: right;
}

#submit, #reset {
    display: none;
}

#submit + label, #reset + label {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #52565E;
}

#submit + label:hover, #reset + label:hover {
    background-color: #AF90E9;
    color: #FFFFFF;
    border-radius: 25px;
    transition: 0.5s;
}

.aside-rrss {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    width: 35%;
    background: linear-gradient(#AF90E9, #BE95C4, #9F86C0, #5E548E);
}

.rrss-contacto li, .info-contacto li {
    text-align: center;
    padding-top: 10px;
    list-style: none;
    font-size: 14px;
    margin-top: 90px;
    margin-right: 25px;
    color: #231942;
    font-weight: 600;
}

.contacto-icon {
    font-size: 30px;
    color: #231942;
}

.info-contacto .contacto-icon {
    margin-top: 10px;
    margin-right: 10px;
}

.rrss-contacto .contacto-icon {
    transition: 0.3s;
}

.rrss-contacto .contacto-icon:hover {
    margin-left: -10px;
    color: #e0e0e0;
}
/*===MEDIA QUERIES===*/
@media screen and (max-width: 992px) {
    .form-contacto
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        color: #000000;
        font-size: 25px;
    }

    .aside-formulario,.aside-rrss
    {
        width: 100%;
    }

    .aside-formulario {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
    }

    .aside-rrss {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
    }
}

/*===CARRITO===*/
.mi-carrito {
    display: flex;
    justify-content: center;
}

.carrito-container {
    margin: 50px auto;
    border-radius: 30px;
}

table {
    width: 1300px;
    max-width: 1000px;
    border-collapse: collapse;
}

.carrito-info {
    display: flex;
    flex-wrap: wrap;
}

.carrito-img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
}

th {
    text-align: left;
    padding: 5px;
    color: #FFFFFF;
    background-color: #AF90E9;
    font-weight: bold;
    font-size: 15px;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    background-color: #EEEEEE; 
    box-shadow: inset 5px 5px 12px #e0e0e0,
                inset -5px -5px 12px #FCFCFC;
    border: none;
}

td a {
    color: #574b90;
    font-size: 12px;
    text-decoration: none;
}

.carrito-total {
    display: flex;
    justify-content: flex-end;
}

.carrito-total table {
    border-top: 3px solid #5E548E;
    width: 100%;
    max-width: 420px;

}

.shipping {
    font-size: 13px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
/*===MEDIA QUERIES===*/
@media screen and (max-width: 992px) {
    table {
        width: 700px;
    }

    th {
        font-size: 20px;
    }

    td {
        font-size: 18px;
    }

    table p {
        font-size: 18px;
    }

    table small {
        font-size: 15px;
    }

    table .btn-index {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    table {
        width: 600px;
    }
}

@media screen and (max-width: 576px) {
    table {
        width: 400px;
    }
}

/*===PUNTOSDEVENTA===*/
.pdv {
    display: grid;
    align-items: center;
    margin: 50px;
}

.pdv-container {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
    background: #eeeeee;
    box-shadow: 0px 0px 10px 0px #666;
}

.maps {
    width: 100%;
    height: auto;
    flex: 50%;
}

.maps iframe {
    width: 100%;
    height: 100%;
}

.selector-pdv {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: left;
    padding: 30px;
}

.selector-pdv h1 {
    margin-bottom: 10px;
    font-size: 35px;
}

.selector-pdv select {
    width: 100%;
    height: auto;
    flex: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #eeeeee;
    color: #000000;
    margin: 20px 0;
    padding: 10px;
    box-shadow: inset 5px 5px 10px #cdcdcd,
    inset -5px -5px 12px #e0e0e0;
}